[Unit]
Description=rpi-spotify-matrix-display

[Service]
WorkingDirectory=/home/pi/rpi-spotify-matrix-display
ExecStart=/home/pi/rpi-spotify-matrix-display/.venv/bin/python3 /home/pi/rpi-spotify-matrix-display/main.py

[Install]
WantedBy=default.target